
:root{
    --bg-header: #2eb3dd;
    --cor-link: rgb(0, 0, 0);
    --bg-link-hover: rgb(5, 5, 5, 0.2);
    --cor-titulo: rgb(0, 0, 0);
    --cor-link: rgb(0, 0, 0);
    --bg-nav:rgb(0, 0, 0, 0.3);
}

header{
    text-align: center;
    background-color: var(--bg-header);
}

/* h1{
    color: var(--cor-titulo);
    padding: 5%;
    font-variant: small-caps;
    font-size: 55px;
} */

nav{
    background-color: var(--bg-nav);
}

header ul{
    margin-top: 0;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-basis: none;
    list-style: none;
    gap: 20px;
    justify-content: center;
    font-size: 20px;
}

.a{
    text-decoration: none;
    display: inline-block;
    color: var(--cor-link);
    padding: 9px 12px;
}

.a:hover{
    background-color: var(--bg-link-hover);
    border-radius: 10px;
}


@media (max-width: 768px) {
    header ul{
        flex-direction: column;
        gap: 10px;
    }
    
    .a{
        padding: 5px 8px;
        font-size: 16px;
    }
}
