$border-div: black;

:root {
  --border-div: #{$border-div};
}

.main-ibm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
      'p1 p2'
      'p3 p4';
}

.main-ibm p {
  text-align: justify;
  border: 1px solid var(--border-div);
  text-indent: 2em;
  font-size: 1em; /* Tamanho de fonte base (pode ser ajustado) */
}

.prgf1 {
  grid-area: p1;
}

.prgf2 {
  grid-area: p2;
}

.prgf3 {
  grid-area: p3;
}

.prgf4 {
  grid-area: p4;
}

@media (max-width: 768px) {
  .main-ibm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
        'p1 p1'
        'p2 p2'
        'p3 p3'
        'p4 p4';
  }

  /* Ajuste o tamanho da fonte para dispositivos menores */
  .main-ibm p {
    font-size: 0.8em; /* Tamanho de fonte menor para telas menores */
  }
}
