$bg-footer: rgb(77, 77, 77);
$cor-footer: white;

:root {
  --bg-footer: #{$bg-footer};
  --cor-footer: #{$cor-footer};
}

footer {
  background-color: var(--bg-footer);
  color: var(--cor-footer);
  text-align: center;
  padding: 15px;

  ul {
    list-style: none;
  }

  p {
    padding: 15px;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    padding: 10px;

    p {
      padding: 10px;
      font-size: 14px;
    }
    li{
        font-size: 10px;
    }
  }
}
